{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
    <div class="row">
    <div class="col-md-12">
      <h2>Add Item</h2>
      <form action="/" method="post">
        <label for="title"> Todo Action: </label><br>
        <input type="text" id="title" name="title" required>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>ToDo Items</h2>
        {% for item in view_model.uncompleted_items %}
          <div class="row">
            <div class="col-sm">
              {{item.title}}
            </div>
            <div class="col-sm">
              {{item.status.name}}
            </div>
            <div class="mb-3" name="ActionButtons">
                  <a href="{{item.url}}" class="btn btn-success" role="button" name="{{item.title}}_ToDo">In Progress</a>
                </div>
          </div>
        {% endfor %}
      </form>
    </div>
    <div class="col-md-12">
      <h2>In Progress Items</h2>
        {% for item in view_model.doing_items %}
          <div class="row">
            <div class="col-sm">
              {{item.title}}
            </div>
            <div class="col-sm">
              {{item.status.name}}
            </div>
            <div class="mb-3" name="ActionButtons">
                  <a href="{{item.url}}" class="btn btn-success" role="button" name="{{item.title}}_Doing">Complete</a>
                </div>
          </div>
        {% endfor %}
      </form>
    </div>
    <div class="col-md-12">
      <h2>Completed Items</h2>
        {% if view_model.show_all_done_items %}
          {% for item in view_model.completed_items %}
            <div class="row">
              <div class="col-sm">
                {{item.title}}
              </div>
              <div class="col-sm">
                {{item.status.name}}
              </div>
              <div class="mb-3" name="ActionButtons">
                  <a href="{{item.url}}" class="btn btn-danger" role="button" name="{{item.title}}_Complete">Undo</a>
                </div>
            </div>
          {% endfor %}
        {% else %}
          <h3> Items completed today </h3>
          {% if view_model.completed_items|length == 0 %}
            <p> No Items completed today </p>
          {% else %}
            {% for item in view_model.recent_done_items %}
              <div class="row">
                <div class="col-sm">
                  {{item.title}}
                </div>
                <div class="col-sm">
                  {{item.status.name}}
                </div>
                <div class="mb-3" name="ActionButtons">
                  <a href="{{item.url}}" class="btn btn-success" role="button" name="{{item.title}}_Complete">Undo</a>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% if view_model.older_done_items|length > 0 %}
            <details>
              <summary> Older Completed Items </summary>
              {% for item in view_model.older_done_items %}
                <div class="row">
                  <div class="col-sm">
                    {{item.title}}
                  </div>
                  <div class="col-sm">
                    {{item.status.name}}
                  </div>
                  <div class="mb-3" name="ActionButtons">
                    <a href="{{item.url}}" class="btn btn-success" role="button" name="{{item.title}}_Complete">Undo</a>
                  </div>
                </div>
              {% endfor %}
            </details>
          {% endif %}
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}